body {
    background: #FFF;
    color: #333;
}
body,html{
    width: 100%;
    height: 100%;
}
body, button, input, select, textarea {
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
a {
    outline: 0;
}
a {
    color: #333;
    text-decoration: none;
    outline: 0;
}
ul, ol, li {
    list-style: none;
}
em, i {
    font-style: normal;
}
/* logo */
.cart-header {
    min-width: 1190px;
    min-width: 990px;
    background-color: #fff;
}
.wrapper {
    width: 1190px;
    min-width: 1190px;
    clear: both;
    margin: 0 auto;
}
.g-logo {
    position: relative;
    float: left;
    width: 400px;
    height: 100px;
    overflow: hidden;
}
.g-logo img {
    margin-top: 20px;
}
fieldset, img {
    border: 0px;
}
.cart-progress {
    margin-top: 26px;
    background: url(https://res.suning.cn/project/ccf/css/images/steps-bg.png?v=cf33e972e140c67405b83dc8e45112ec) 60px 0 no-repeat;
}
.r {
    float: right;
}
.cart-progress li {
    position: relative;
    float: left;
    width: 144px;
    text-align: center;
}
.cart-progress .finish i {
    color: #FFF;
}
.cart-progress li i {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 6px;
    line-height: 24px;
    font-weight: 700;
    color: #BBB;
    z-index: 10;
}
.cart-progress li span {
    color: #333;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.finish-01 b {
    width: 25px;
    left: 60px;
    background-position: 0 0;
}
.finish-02 b {
    width: 158px;
    left: -74px;
}
.finish b {
    position: absolute;
    display: inline-block;
    height: 24px;
    top: 0;
    background: url(https://res.suning.cn/project/ccf/css/images/steps-new.png?v=62a138530a7cf6376f9bb272e0bb65dd) no-repeat;
}
.wrapper {
    width: 1190px;
    min-width: 1190px;
    clear: both;
}
.checkout {
    margin-bottom: 40px;
}
.step {
    margin-bottom: 10px;
}
.payment-container {
    z-index: 1;
}
.payment-container {
    position: relative;
}
.step-title {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.step-title b {
    font: 700 16px/36px "Microsoft YaHei";
    color: #221814;
}
.payment-container .pay-yh {
    display: inline;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    color: #fff;
    background: #f50;
    margin-left: 6px;
    margin-right: 4px;
}
.payment-container .step-content {
    padding: 0;
    border: 0;
}
.step-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #eee;
}
.clearfix {
    zoom: 1;
}
.payment-container .pay-list {
    position: relative;
}
.payment-container .pay-list ul {
    margin-top: -14px;
}
.payment-container .pay-list .pay-item {
    margin-right: 14px;
}

.payment-container .pay-benefits .pay-item {
    margin-bottom: 15px;
}
.payment-container .pay-list .pay-item {
    position: relative;
    float: left;
    width: 220px;
    height: 38px;
    margin-right: 13px;
    margin-top: 14px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.payment-container .pay-list .pay-item .pay-way {
    font-family: "Microsoft YaHei";
    line-height: 38px;
    font-size: 15px;
}
.pay-checked .pay-way {
    line-height: 38px;
}
.pay-checked .check {
    right: 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    overflow: hidden;
    background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) -109px -138px no-repeat;
    position: absolute;
    bottom: 0;
}
.step-title {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}.cart-table-header .th-item {
    width: 218px;
}
.cart-table-header .th-specs {
    width: 145px;
}
.cart-table-header .th-price {
    width: 153px;
}
.cart-table-header .th-amount {
    width: 130px;
}
.cart-table-header .th-sum {
    width: 175px;
    padding-left: 15px;
}
.cart-table-header .th-op {
    width: 100px;
}
 .item-checked {
    background-color: #fffbf2;
}
.item {
    position: relative;
    height: 102px;
    margin-bottom: -1px;
    padding: 15px 20px;
    border: 1px solid #dfdfdf;
}
.item .td {
    height: 94px;
}
 .td-chk {
    width: 47px;
    position: relative;
}
.td {
    float: left;
}
.td-item {
    width: 362px;
}
.td-item .item-pic {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background: #fff;
    overflow: hidden;
}
.itemImg{
    width: 80px;
    height: 80px;
}
.td-item .item-info {
    width: 239px;
    float: left;
    line-height: 16px;
}
.td-specs {
    position: relative;
    width: 103px;
}
.td-price {
    width: 106px;
    text-align: right;
}
.td-amount {
    width: 177px;
    position: relative;
    text-align: center;
}
.td-sum {
    width: 126px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
b {
    font-weight: bold;
}
.sn-price i {
    font-family: Arial;
}
.sn-price em {
    margin-left: 1px;
}
em, i {
    font-style: normal;
}
.td-op {
    padding-left: 115px;
    width: 58px;
    text-align: left;
}
.td-op a{
    color: #666;
}
.td-op a:hover{
    color: #f60;
}
.cart-checkbox {
    float: left;
    width: 15px;
    height: 15px;
    margin: 10px 10px 0;
    overflow: hidden;
}
.sum-pay-price {
    text-align: right;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.sum-pay-price-sp {
    margin-top: 7px;
}
.price-color {
    font-size: 22px;
    font-weight: 700;
}
.price-color{

    color: #f60;
}
.price-color em {
    margin-left: 1px;
    font-family: tahoma;
}
.submit-btn{
    float: right;
    width: 105px;
    height: 40px;
    margin: 0 0 0 10px;
    color: #fff;
    background-color: #f60;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    line-height: 38px\9;
}
.OR-codebox{
    display: flex;
    justify-content: center;
    align-content: center;
    display: none;
}
.QR-code{
    width: 400px;
    height: 500px;
}